<div id="rules" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>ElCarro.do - Reglas</h4>
        <p>Pila de texto #TODO</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Aceptar</a>
    </div>
</div>
