@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <li><a><i class="material-icons left">search</i>Buscar pieza</a></li>
        <li><a><i class="material-icons left">store</i>Repuestos</a></li>
        <li><a href="@Url.Action("Index", "Manage")" title="Manage"><i class="material-icons left">perm_identity</i>Mi Cuenta</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="waves-effect waves-light btn">Log off</a></li>
    }
}
else
{
    <li><a><i class="material-icons left">search</i>Buscar pieza</a></li>
    <li><a><i class="material-icons left">store</i>Repuestos</a></li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "waves-effect waves-light btn" })</li>
}
