@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">¡Bloqueada!</h1>
    <h2 class="text-danger">Esta cuenta ha sido bloqueada, intentelo más tarde.</h2>
</hgroup>
