@{
    ViewBag.Title = "Confirmar correo";
}

<div class="container">
    <div class="section">
        <h2>@ViewBag.Title.</h2>
        <div>
            <p>
                Gracias por confirmar su correo. Pro favor @Html.ActionLink("Click aqui para loguearse", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
