@{
    ViewBag.Title = "Olvidaste confirmar tu contraseña";
}

<div class="container">
    <div class="section">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Por favor verifique su correo para resetear su contraseña.
            </p>
        </div>
    </div>
</div>
