@{
    ViewBag.Title = "Cambiar confirmación de contraseña";
}

<div class="container">
    <div class="section">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Tu contraseña ha sido cambiada. Por favor @Html.ActionLink("haga click aqui para loguearse", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
