@model ElCarro.Web.Models.IndexViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Manage";
}

<div class="row">
    <h3 class="center">
        Mi Cuenta <a href="account_edit.html" class="tooltipped" data-position="right"
                     data-delay="50" data-tooltip="Editar Informacion"><i class="material-icons">edit</i></a>
    </h3>
    <hr>
</div>
<div class="row">
    <div class="col s4">
        <div class="row">
            <div class="col s12">
                <img class="materialboxed" data-caption="Imagen de Perfil" width="250" src="@Url.Content("~/static/user.png")">
            </div>
        </div>
    </div>
    <div class="col s8">
        <div class="row">
            <div class="input-field col s10">
                <i class="material-icons prefix">account_circle</i>
                <input disabled value="Anthony Rozon" type="text" class="validate">
                <label>Nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <i class="material-icons prefix">email</i>
                <input disabled value="arozonm@gmail.com" type="email" class="validate">
                <label>Correo Electrónico</label>
            </div>
        </div>
    </div>
</div>
