.msg-success-detail-store {
    margin: 15px 0;
    padding: 0 20px;
    background-color: #dff0d8;
    border-color: #444;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    font-size: 21px;
    font-weight: 600;
    color: #000;
}

.msg-error-detail-store {
    margin: 15px 0;
    padding: 0 20px;
    background-color: #e57373;
    border-width: 2px;
    border-color: #444;
    border-bottom-style: solid;
    border-top-style: solid;
    font-size: 21px;
    font-weight: 600;
    color: #FFF;
}

.close-msg {
    background: transparent !important;
    border: none;
    float: right;
    padding-left: 10px;
    margin-right: -10px;
}
