@{
    ViewBag.Title = "Inicio";
}

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Búsqueda Turbo</h5>

                    <p class="light">
                        Hemos puesto a su alcance el sistema
                        de <i>Búsqueda Turbo</i>. La nueva forma fácil y
                        rápida de encontrar las tiendas de repuestos
                        que cuentan con el artículo deseado a nivel local. Su sistema de
                        autocompletado facilita la experienca al usuario y le ayuda a recordar
                        cualquier detalle que se le pueda escapar para arrancar a buscar su pieza.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Calidad Comunitaria</h5>

                    <p class="light">
                        Gracias a nuestro sistema de evaluación
                        de compra, la comunidad de clientes de
                        repuestos automotrices tiene el poder de calificar las piezas
                        adquiridas por el servicio recibido en cada
                        tienda. Esto significa
                        <i>Calidad Comunitaria</i>, donde el mercado local de
                        las partes de vehículos evoluciona de forma inteligente
                        a partir de las opiniones de sus clientes.
                    </p>

                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Facil, facil, facil</h5>

                    <p class="light">
                        Hemos creado el concepto de las tres <i>F</i>.
                        Nuestra plataforma online fue diseñada teniendo presente
                        <i>lo facil</i> en todo momento. Por lo tanto, la documentación detallada,
                        las reglas claras, la ayuda precisa y la apertura a mejoras
                        caracterizan lo FFF que es suscribirse, navegar y encontrar esa
                        pieza en elcarro.do <b><i>¿aún estás afuera?</i></b>
                    </p>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="@Url.Content("~/static/background1.jpg")"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contáctanos</h4>
                <p class="left-align light">
                    Números disponibles: <b>+1(809)815-4378</b> |
                    <b>+1(809)462-5387 | 809-567-9271</b>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="@Url.Content("~/static/background2.jpg")"></div>
</div>
