@Styles.Render("~/Content/Home_Search")
@Html.Hidden("link_to_store_icon", Url.Content("~/static/sportutilityvehicle.png"))

<div ng-controller="HomeSearchCtrl">
    <div class="container">
        <div class="row" id="part-{{$index}}" ng-repeat="part in listSearchParts">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">search</i>
                <input autocomplete="off" class="autocomplete" id="part-{{$index}}-name" name="part-{{$index}}-name" type="text" value="">
                <label for="part-{{$index}}-name" class="">Nombre o Descripción</label>
            </div>
            <div class="input-field col s12 m2">
                <select id="part-{{$index}}-year">
                    <option value="" disabled selected>Año</option>
                    <option value="{{_year}}" ng-repeat="_year in part.years" ng-click="addMake(_year, part, $event)">{{_year}}</option>
                </select>
                <label>Seleccione el año</label>
            </div>
            <div class="input-field col s12 m2">
                <select id="part-{{$index}}-make">
                    <option value="" disabled selected>Marca</option>
                    <option value="{{_make.id}}" ng-repeat="_make in part.makes" ng-click="addMake(_make, part, $event)">{{_make.name}}</option>
                </select>
                <label>Seleccione la marca</label>
            </div>
            <div class="input-field col s12 m2">
                <select id="part-{{$index}}-model">
                    <option value="" disabled selected>Modelo</option>
                    <option value="{{_model.id}}" ng-repeat="_model in part.models" ng-click="addModel(_model, part, $event)">{{_model.name}}</option>
                </select>
                <label>Seleccione el modelo</label>
            </div>
            <i class="material-icons">delete_forever</i>
        </div>

        <div class="row">
            <div class="col s12 m12 center">
                <button class="btn waves-effect waves-light" type="button" name="action" ng-click="searchParts()">
                    Buscar
                    <i class="material-icons right">send</i>
                </button>
                <button class="btn waves-effect waves-light" type="button" name="action" ng-click="addSearch()">
                    Agregar busqueda
                    <i class="material-icons right">add</i>
                </button>
            </div>
        </div>

        <div class="row preloader-model-form" id="loader-main-row">
            <div class="col s11 offset-s1">
                <div class="progress preloader-form active">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>

        <div class="row hidden" id="main-list-row">
            <div class="col s12 l6" ng-repeat="_result in singleResults">
                <div class="card large" ng-click="setModal('single', _result)">
                    <div class="card-image">
                        <img class="responsive-img" src="{{_result.Photo}}">
                    </div>
                    <div class="card-content"></div>
                    <div class="card-action">
                        <span class="card-title center">{{_result.Name}}</span>
                        <p><strong>Repuesto:</strong> {{_result.CompanyName}}</p>
                        <p><strong>Descripción:</strong> {{_result.Description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination center hidden" id="main-pagination-row">
            <li ng-class="{'disabled' : (actualPage == 1), 'waves-effect' : (actualPage > 1)}">
                <a href="#!" ng-click="changeThePage(actualPage - 1)"><i class="material-icons">chevron_left</i></a>
            </li>
            <li ng-repeat="_page in numPages" ng-class="{'active' : (_page == actualPage)}">
                <a href="#!" class="pageNumber" ng-click="changeThePage(2)">{{_page}}</a>
            </li>
            <li ng-class="{'disabled' : (actualPage == numPages[(numPages.length - 1)]), 'waves-effect' : (actualPage < numPages[(numPages.length - 1)])}">
                <a href="#!" ng-click="changeThePage(actualPage + 1)"><i class="material-icons">chevron_right</i></a>
            </li>
        </ul>
    </div>

    <div class="row hidden" ng-if="showResultMsgError" id="error-msg-row">
        <div class="col s12 text-error-cross-all center">
            <button type="button" class="close-msg" aria-label="Close">
                <span aria-hidden="true" ng-click="closeMsgError()">&times;</span>
            </button>
            <p>No fueron encontradas piezas con el criterio de b&uacute;squeda previsto.</p>
        </div>
    </div>

    <div id="maps_search" class="modal modal-fixed-footer">
        <div class="modal-content">
            <input type="hidden" id="no-drageble" value="true" />
            <div class="row hidden" id="not-geolocation-map-msg">
                <div class="col s12 text-error-cross-all center">
                    <p>Favor activar su ubicaci&oacute;n, d&eacute;spues recargue la p&aacute;gina.</p>
                </div>
                <div class="row center">
                    <a target="_blank" href="https://support.google.com/chrome/answer/142065?hl=en"><p class="active-ubication">&iquest;Como activar tu ubicación&#63;</p></a>
                </div>
            </div>
            <div id="map-create"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/map-search")
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdJy9m60pKeyt31XGVTsYaxhqCFe65URk&callback=initMap">
</script>

@section ScriptHomeSearch {
    @Scripts.Render("~/bundles/HomeSearchCtrl")
}
