<div class="container">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">¿Que pieza necesitas?</label>
                </div>
                <div class="input-field col s12 m2">
                    <select>
                        <option value="" disabled selected>Año</option>
                        <option value="1">2016</option>
                        <option value="2">2015</option>
                        <option value="3">2014</option>
                        <option value="4">1998</option>
                    </select>
                </div>
                <div class="input-field col s12 m2">
                    <select>
                        <option value="" disabled selected>Marca</option>
                        <option value="1">Honda</option>
                        <option value="2">Toyota</option>
                        <option value="3">Hyundai</option>
                    </select>
                </div>
                <div class="input-field col s12 m2">
                    <select>
                        <option value="" disabled selected>Modelo</option>
                        <option value="1">Fit</option>
                        <option value="2">Civic</option>
                        <option value="3">Accord</option>
                    </select>
                </div>
                <div class="col s12 m12 center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Buscar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="chips chips-initial"></div>
</div>
<div class="row">
    <div class="col s12 m9 l10">
        <table class="container">
            <tbody>
                <tr>
                    <td>
                        <div class="col">
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col">
                                                <h5>Repuestos los Peña</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s4 m4 l4">
                                                <img class="responsive-img" src="@Url.Content("~/parts/Bumper_delantero_Civic_98.png")">
                                            </div>
                                            <div class="col s8 m8 l8">
                                                <p>Bumper delantero Honda Civic 1998</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col">
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col">
                                                <h5>Repuestos los Peña</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s4 m4 l4">
                                                <img class="responsive-img" src="@Url.Content("~/parts/Bumper_delantero_Civic_98.png")">
                                            </div>
                                            <div class="col s8 m8 l8">
                                                <p>Bumper delantero Honda Civic 1998</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col">
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col">
                                                <h5>Repuestos los Peña</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s4 m4 l4">
                                                <img class="responsive-img" src="@Url.Content("~/parts/Bumper_delantero_Civic_98.png")">
                                            </div>
                                            <div class="col s8 m8 l8">
                                                <p>Bumper delantero Honda Civic 1998</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col card-panel hide-on-small-only m3 l2">
        <ul class="section table-of-contents">
            <li><a href="#">Filter_1</a></li>
            <li><a href="#">Filter_2</a></li>
            <li><a href="#">Filter_3</a></li>
        </ul>
    </div>
</div>

<ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
