#map-create {
    width: 100%;
    height: 100%;
}

#maps_search.modal {
    height: 100%;
}
 
.card-action {
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important;
}

.card .card-title {
    font-size: 30px;
    font-weight: 400;
}

.card p {
    font-size: 16px;
    font-weight: 300;
    margin: 0.2em 0;
}

.active-ubication {
    font-size: 21px
}

@media (min-width: 993px) {
    .card-stacked.search-card {
        width: auto;
        height: 300px !important;
    }
}
