nav ul a,
nav .brand-logo {
    color: #444;
}

.hidden {
    display: none;
}

.fixed-nav {
    height: 64px !important;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

    .parallax-container .section {
        width: 100%;
    }

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

footer.page-footer {
    margin: 0;
}

.text-danger.field-validation-error {
    color: #FFF;
    background-color: #e57373;
    border-color: #ebccd1;
    border-radius: 20px;
    padding: 10px;
    border: 5px;
}

.validation-summary-errors.text-danger li{
    display: none;
}

.validation-summary-errors.text-danger li:last-child {
    color: #FFF;
    background-color: #e57373;
    border-color: #ebccd1;
    border-radius: 20px;
    padding: 10px;
    border: 5px;
    display: block !important;
}

/* Start Forms */
.toast-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 21px;
    font-weight: 600;
    color: #000;
}

.toast-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 21px;
    font-weight: 600;
    color: #000;
}

.not-active {
    display: none;
}

.preloader-model-form {
    margin-bottom: -5px !important;
    margin-top: -20px !important;
}
/* End Forms */

/* Botones de logins */
/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

    .loginBtn:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 34px;
        height: 100%;
    }

    .loginBtn:focus {
        outline: none;
    }

    .loginBtn:active {
        box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }


/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}

    .loginBtn--facebook:before {
        border-right: #364e92 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
    }

    .loginBtn--facebook:hover,
    .loginBtn--facebook:focus {
        background-color: #5B7BD5;
        background-image: linear-gradient(#5B7BD5, #4864B1);
    }


/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}

    .loginBtn--google:before {
        border-right: #BB3F30 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
    }

    .loginBtn--google:hover,
    .loginBtn--google:focus {
        background: #E74B37;
    }
/* Botones de logins */
