nav ul a,
nav .brand-logo {
    color: #444;
}

.fixed-nav {
    height: 64px !important;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

    .parallax-container .section {
        width: 100%;
    }

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

footer.page-footer {
    margin: 0;
}

.text-danger.field-validation-error {
    color: #FFF;
    background-color: #e57373;
    border-color: #ebccd1;
    border-radius: 20px;
    padding: 10px;
    border: 5px;
}

/* Start Forms */
.toast-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 21px;
    font-weight: 600;
    color: #000;
}

.toast-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 21px;
    font-weight: 600;
    color: #000;
}

.not-active {
    display: none;
}

.preloader-model-form {
    margin-bottom: -5px !important;
    margin-top: -20px !important;
}
/* End Forms */
